* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(48, 48, 48);
  background: linear-gradient(to right, rgb(204, 128, 255), rgb(88, 199, 254));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, input, button {
  font-family: 'Poppins', sans-serif;
  color: inherit;
}

button {
  cursor: pointer;
}
